* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

.container {
    width: 80%;
    margin: auto;
    /* background-color: aqua; */

}

/* ================team Desc===================== */
#teamDesc {
    background-color: rgb(243, 243, 243);
    width: 100%;
    padding: 8vh 0px;
}

#teamDesc .container .teamImg img {
    width: 100%;
    height: 100%;
}

/* ================================members=============== */
#members {
    padding: 4vh 0px;

}

.container {
    display: flex;
    justify-content: center;
}

#members h1:nth-child(1) {
    text-align: center;
    margin: 8vh 0px;
}

#members .member {
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#members .member img {
    margin-bottom: 3vh;
}

#members .member h1 {

    font-size: 28px;
    font-weight: bold;


}

#members .member p {
    font-size: 24px;

}